<ion-content>
  <ion-button (click)="goToAbout()" fill="solid">
    <ion-icon style="margin: 0 5px;" name="images-outline"></ion-icon>
    View intro
  </ion-button> 

  <ion-card>
    <ion-card-header>
      <ion-card-title>images of landscapes</ion-card-title>
      <ion-card-subtitle>Animation</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here you can see all the landscape images 👍
      <swiper-container
       [paginator]="true"
       [slidesPerView]="1"
      >
        <swiper-slide *ngFor="let slide of event_list; let i = index">
          <img src="{{slide.image}}">
          {{slide.name}}
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>
  
</ion-content>
