<ion-header>
  <ion-toolbar>
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register user company photos</ion-card-title>
      <ion-card-subtitle>Thank you 👍 🌅 🏞️</ion-card-subtitle>
    </ion-card-header>

    <form [formGroup]="registerForm" (submit)="register(registerForm.value)">
      <ion-item>
        <ion-input type="text" label="Name" label-placement="floating" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="Last name" label-placement="floating" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="Email" label-placement="floating" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Password" label-placement="floating" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Confirmation_password" label-placement="floating" formControlName="confirmation_password"></ion-input>
      </ion-item>
      <div class="validation-message">
        <ng-container *ngFor="let validation of validation_register_messages.name">
          <div *ngIf="(registerForm.get('name')?.hasError(validation.type) && registerForm.get('name')?.dirty)">
            {{validation.message}}
          </div>
        </ng-container>
        <ng-container *ngFor="let validation of validation_register_messages.last_name">
          <div *ngIf="(registerForm.get('last_name')?.hasError(validation.type) && registerForm.get('last_name')?.dirty)">
            {{validation.message}}
          </div>
        </ng-container>
        <ng-container *ngFor="let validation of validation_register_messages.email">
          <div *ngIf="(registerForm.get('email')?.hasError(validation.type) && registerForm.get('email')?.dirty)">
            {{validation.message}}
          </div>
        </ng-container>
        <ng-container *ngFor="let validation of validation_register_messages.password">
          <div *ngIf="(registerForm.get('password')?.hasError(validation.type) && registerForm.get('password')?.dirty)">
            {{validation.message}}
          </div>
        </ng-container>
        <ng-container *ngFor="let validation of validation_register_messages.confirmation_password">
          <div *ngIf="(registerForm.get('confirmation_password')?.hasError(validation.type) && registerForm.get('confirmation_password')?.dirty)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <div style="display: flex; justify-content: center; margin: 5px 0px;">
        <ion-button type="submit" fill="solid"  [disabled]="!registerForm.valid">
          <ion-icon style="margin: 0 5px;" name="key-outline"></ion-icon>
          Register
        </ion-button>
      </div>
    </form>

  </ion-card>
</ion-content>
